[submodule "src/driver/postgres/libpqxx"]
	path = src/postgres/libpqxx
	url = https://github.com/jtv/libpqxx.git
[submodule "src/log"]
	path = src/log
	url = https://github.com/map-and-stream/log.git
	branch = main
